<div class="dashboard-container">
    <div class="dashboard-grid">

        <div class="sales-products-row">
            <!-- Resumen de Ventas -->
            <p-card class="sales-card no-border compact-card center-content" autofocus>
                <div class="card-header">
                    <p-tabMenu [model]="salesPeriodItems" (activeItemChange)="onPeriodChange($event)"></p-tabMenu>
                </div>
                <div class="sales-content">
                    <div class="sales-amount">
                        <h3>Total Ventas {{ totalSales | currency }}</h3>
                    </div>
                </div>
            </p-card>

            <!-- Gráfica de ventas semanales -->
            <p-card class="weekly-sales-chart no-border compact-card">
                <h2>Ventas Semanales</h2>
                <p-chart type="line" [data]="weeklySalesChartData" [options]="lineChartOptions"
                    [style]="{'height': '450px !important'}" class="weekly-chart"></p-chart>
            </p-card>

        </div>

        <!-- Top Productos -->
        <p-card class="top-products-card no-border compact-card">
            <div class="card-header">
                <h2>Productos Más Vendidos</h2>
            </div>
            <div class="top-products-content">
                <div class="chart-container">
                    <p-chart type="doughnut" [data]="topProductsChartData" [options]="doughnutChartOptions"
                        [style]="{'width': '100%', 'height': '100%'}"></p-chart>
                </div>
            </div>
        </p-card>

        <!-- Estado del Invebtario -->
        <p-card class="critical-inventory-card no-border compact-card full-width">
            <div class="card-header">
                <h2>Inventario Crítico</h2>
            </div>

            <p-table [value]="productosEnStockCritico" [rows]="5" [scrollable]="true" scrollHeight="200px">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Producto</th>
                        <th>Stock</th>
                        <th>Estado</th>
                        <th>Progreso</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-producto>
                    <tr>
                        <td>{{ producto.nombreProducto }}</td>
                        <td>{{ producto.stock }}</td>
                        <td>
                            <p-tag *ngIf="producto.stock <= 5" value="Crítico" severity="danger" [rounded]="true"></p-tag>
                            <p-tag *ngIf="producto.stock >= 6 && producto.stock <= 15" value="Moderado"
                                severity="warning" [rounded]="true"></p-tag>
                            <p-tag *ngIf="producto.stock > 15" value="Suficiente" severity="success" [rounded]="true"></p-tag>
                        </td>
                        <td>
                            <p-progressBar [value]="producto.stock" [style]="{
                                'height': '15px', 
                                'font-size': '12px',
                                'border-radius': '8px', 
                                'color': '#ffffff'
                            }">
                                <ng-template pTemplate="content" let-value>
                                    <span>{{value}}/100</span>
                                </ng-template>
                            </p-progressBar>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

        </p-card>
    </div>
</div>