<div class="min-h-screen bg-gradient-to-br from-blue-100 to-blue-100 flex items-center justify-center">
  <div class="bg-white bg-opacity-90 backdrop-blur-md rounded-lg shadow-2xl p-8 max-w-md w-full space-y-8 tarjeta">
    <div class="text-center">
      <div class="bg-blue-500 rounded-full p-3 inline-block">
        <i class="fas fa-shield-alt text-white icono-escudo"></i>
      </div>
      <h2 class="mt-6 text-2xl text-gray-900">Restablecer Contraseña</h2>
    </div>

    <form (ngSubmit)="onSubmit()" #form="ngForm" class="mt-8 space-y-6">
      <div class="space-y-6">
        <!-- Campo de nueva contraseña -->
        <div class="relative">
          <label for="newPassword" class="text-sm font-medium text-gray-700">Nueva Contraseña</label>
          <div class="flex items-center border border-gray-300 rounded-md focus-within:ring-2 focus-within:ring-blue-600">
            <div class="pl-3">
              <i class="fas fa-lock text-gray-400"></i>
            </div>
            <input
              id="newPassword"
              name="newPassword"
              [type]="showNewPassword ? 'text' : 'password'"
              [(ngModel)]="newPassword"
              class="pl-3 w-full py-2 focus:outline-none focus:border-transparent input-password"
              placeholder="Ingresa tu nueva contraseña"
              required
            />
            <div class="pr-3">
              <i (click)="toggleNewPasswordVisibility()" 
                 class="fas" 
                 [class.fa-eye]="showNewPassword"
                 [class.fa-eye-slash]="!showNewPassword" 
                 style="cursor: pointer; color: #6b7280;">
              </i>
            </div>
          </div>
        </div>

        <!-- Campo de confirmar contraseña -->
        <div class="relative">
          <label for="confirmPassword" class="text-sm font-medium text-gray-700">Confirmar Contraseña</label>
          <div class="flex items-center border border-gray-300 rounded-md focus-within:ring-2 focus-within:ring-blue-600">
            <div class="pl-3">
              <i class="fas fa-lock text-gray-400"></i>
            </div>
            <input
              id="confirmPassword"
              name="confirmPassword"
              [type]="showConfirmPassword ? 'text' : 'password'"
              [(ngModel)]="confirmPassword"
              class="pl-3 w-full py-2 focus:outline-none focus:border-transparent input-password"
              placeholder="Confirma tu nueva contraseña"
              required
            />
            <div class="pr-3">
              <i (click)="toggleConfirmPasswordVisibility()" 
                 class="fas" 
                 [class.fa-eye]="showConfirmPassword"
                 [class.fa-eye-slash]="!showConfirmPassword" 
                 style="cursor: pointer; color: #6b7280;">
              </i>
            </div>
          </div>
        </div>
      </div>

      <button type="submit" class="w-full bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-md transition duration-300 ease-in-out transform hover:scale-105">
        Restablecer 
      </button>
    </form>
  </div>
</div>