<div class="min-h-screen bg-gradient-to-br from-blue-100 to-blue-100 flex items-center justify-center p-4">
  <div class="bg-white bg-opacity-90 backdrop-blur-md rounded-lg shadow-2xl p-8 max-w-md w-full space-y-8">
    <div class="text-center">
      <div class="bg-blue-500 rounded-full p-3 inline-block">
        <svg xmlns="http://www.w3.org/2000/svg" class="text-white h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
        </svg>
      </div>
      <h2 class="mt-6 text-3xl font-extrabold text-gray-900">Recuperar Contraseña</h2>
      <p class="mt-2 text-sm text-gray-600">Ingresa tu correo electrónico para recibir instrucciones</p>
    </div>
    
    <form (ngSubmit)="enviarSolicitudRecuperacion()" #form="ngForm" class="mt-8 space-y-6">
      <div class="rounded-md shadow-sm -space-y-px">
        <div>
          <label for="correoUsuario" class="sr-only">Correo electrónico</label>
          <input id="correoUsuario" name="correoUsuario" type="email" [(ngModel)]="correoUsuario" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm" placeholder="Correo electrónico">
        </div>
      </div>

      <div>
        <button type="submit" [disabled]="!form.form.valid" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
          Enviar instrucciones
        </button>
      </div>
    </form>

    <div class="text-center mt-4">
      <a routerLink="/" routerLinkActive="active" class="font-medium text-blue-600 hover:text-blue-500 cursor-pointer no-underline">
      Volver al inicio de sesión
      </a>
    </div>
  </div>
</div>
